.chef-reviews-block {
    .chef-thumb {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    .reviews-content-area {
        overflow: hidden;
        .section-title.style-one {
            .title-main {
                @media only screen and (min-width: 1200px) and (max-width: 1920px) {
                    font-size: 54px;
                }
                @media only screen and (min-width: 991px) and (max-width: 1199px) {
                    font-size: 44px;
                }
            }
        }
        .reviews-content {
            font-size: 16px;
            margin-top: -5px;
            .chef-info {
                font-size: 14px;
                font-weight: 600;
                color: $black;
                letter-spacing: 0.35em;
                margin-bottom: 50px;
                @media only screen and (max-width: 1199px) {
                    margin-bottom: 25px;
                }
                @media only screen and (max-width: 575px) {
                    font-size: 12px;
                    letter-spacing: 0.2em;
                }
                > a {
                    color: $color__primary;
                    &:hover {
                        color: $black !important;
                    }
                }
            }
        }
        .owl-nav {
            margin: 60px -12px 0;
            @media only screen and (max-width: 1199px) {
                margin-top: 40px; 
            }
            @media only screen and (max-width: 767px) {
                margin-left: -6px;
                margin-right: -6px;  
            }
            > div {
                font-size: 36px;
                color: $suva_grey;
                display: inline-block;
                padding: 0 12px;
                -webkit-transition: all 0.25s;
                transition: all 0.25s;
                @media only screen and (max-width: 767px) {
                    font-size: 24px;
                    padding: 0 5px;
                }
                &:hover {
                    color: $color__primary;
                }
            }
        }
    }
}