/*-------------------------------------------------
    [ # Button Links ]
*/
.btn-links-area {
	margin: 5px -8px 0;
	.btn-links {
		background-color: transparent;
		border: 0 solid;
		margin: 0 8px;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		color: #b4c0d9;
		font-size: 32px;
		padding: 0;
		position: relative;
		cursor: pointer;
		&:hover {
			color: $color__primary;
			&.btn-next {
				padding-left: 5px;
			}
		}
	}
	&.text-right {
		.btn-links:hover {
			&.btn-prev {
				padding-right: 5px;
			}
			&.btn-next {
				padding-left: 0;
			}
		}
	}
	@media only screen and (max-width: 991px) {
		&.text-right {
			text-align: left !important;
			margin-bottom: 15px;
			.btn-links:hover {
				&.btn-prev {
					padding-right: 0px;
				}
				&.btn-next {
					padding-left: 5px;
				}
			}
		}
	}
	@media only screen and (max-width: 767px) {
		.btn-links {
			font-size: 26px;
		}
	}
}

/*-------------------------------------------------
    [ # subscribe Newsletter ]
*/
.subscribe-me {
	width: 770px;
	padding: 0;
	height: auto;
	margin-left: -385px;
	@media only screen and (max-width: 991px) {
		width: 550px;
		margin-left: -275px;
	}
	@media only screen and (max-width: 575px) {
		width: 420px;
		margin-left: -210px;
	}
	@media only screen and (max-width: 450px) {
		width: 300px;
		margin-left: -150px;
	}
	.subscribe-me-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		position: relative;
		.sb-close-btn {
			opacity: 1;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			width: 45px;
			height: 45px;
			background-color: #c51c23;
			padding: 0;
			margin: 0;
			display: block;
			@media only screen and (max-width: 450px) {
				width: 35px;
				height: 35px;
			}
			&:before,
			&:after {
				position: absolute;
				height: 1px;
				left: 50%;
				top: 50%;
				width: 22px;
				background-color: white;
				content: '';
				-webkit-transition: all 0.25s;
				transition: all 0.25s;
				margin-left: -11px;
				cursor: pointer;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				        transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				        transform: rotate(-45deg);
			}
		}
		.subscribe-offer {
			width: 270px;
			-ms-flex-negative: 0;
			    flex-shrink: 0;
		}
		.subscribe-form-popup {
			width: calc(100% - 270px);
			text-align: center;
			padding: 70px 70px 75px;
			@media only screen and (max-width: 991px) {
				width: 100%;
			}
			@media only screen and (max-width: 575px) {
				padding: 50px 25px;
			}
			@media only screen and (max-width: 450px) {
				padding: 40px 15px;
			}
			.heading {
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 15px;
				@media only screen and (max-width: 450px) {
					font-size: 20px;
				}
			}
			.off {
				font-weight: 500;
				color: #8f8f8f;
				font-size: 14px;
				margin-bottom: 2px;
			}
			.minimum-spend {
				font-size: 12px;
				font-weight: 500;
				color: $black;
				margin-bottom: 42px;
				> span {
					display: inline-block;
					border-bottom: 1px solid $black;
					line-height: 1.2;
				}
			}
			form {
				position: relative;
			}
			input[type='email'] {
				background-color: transparent;
				border-bottom: 1px solid #8f8f8f;
				padding: 0 0 14px !important;
				width: 100%;
				font-size: 12px;
			}
			.subscribe-btn {
				position: absolute;
				top: -1px;
				right: 0;
				background-color: transparent;
				font-size: 18px;
				color: $color__primary;
				padding: 0;
			}
		}
	}
	.subscribe-offer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 15px 30px;
		text-align: center;
		width: 100%;
		@media only screen and (max-width: 991px) {
			display: none;
		}
		.subscribe-offer-text {
			width: 100%;
			.offer {
				font-size: 110px;
				font-weight: lighter;
				color: $white;
				line-height: 1;
				position: relative;
				margin-bottom: 65px;
				&:before {
					position: absolute;
					content: '';
					bottom: -30px;
					width: 75px;
					height: 2px;
					background-color: $color__primary;
					left: 50%;
					-webkit-transform: translateX(-50%);
					        transform: translateX(-50%);
				}
				> sup {
					font-size: 62%;
					top: -27px;
				}
				> sub {
					font-size: 28px;
					text-transform: uppercase;
					margin-left: -42px;
					bottom: 0;
				}
			}
			.order {
				font-size: 24px;
				font-weight: lighter;
				text-transform: uppercase;
				color: $white;
				line-height: 1.2em;
			}
		}
	}
}

.carousel-nav-text {
	.owl-nav > div,
	> .btn-links {
		background-color: transparent;
		border: 0px solid;
		color: #8f8f8f;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.5em;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		padding: 13px 2px;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		@media only screen and (max-width: 991px) {
			padding: 10px 2px;
		}
		&:before {
			border-top: 2px solid #8f8f8f;
			border-bottom: 2px solid #8f8f8f;
			content: '';
			height: 48px;
			position: absolute;
			width: 60px;
			top: 0;
			-webkit-transition: all 0.25s;
			transition: all 0.25s;
			@media only screen and (max-width: 991px) {
				height: 42px;
			}
		}
		> span {
			display: block;
			padding: 0 10px;
			position: relative;
			z-index: 2;
			&:after,
			&:before {
				background-color: #8f8f8f;
				content: '';
				height: 8px;
				position: absolute;
				width: 2px;
				-webkit-transition: all 0.25s;
				transition: all 0.25s;
			}
		}
		&:hover {
			color: $color__heading !important;
			&:before {
				border-color: $color__heading !important;
			}
			> span {
				&:after,
				&:before {
					background-color: $color__heading !important;
				}
			}
		}
	}
	.owl-nav > div.owl-prev,
	> .btn-links.btn-prev {
		&:before {
			left: 0;
			border-left: 2px solid #8f8f8f;
		}
		> span {
			padding-left: 25px;
			&:after {
				bottom: -11px;
				left: 58px;
				@media only screen and (max-width: 1199px) {
					bottom: -11px;
				}
				@media only screen and (max-width: 991px) {
					bottom: -10px;
				}
			}
			&:before {
				top: -13px;
				left: 58px;
				@media only screen and (max-width: 991px) {
					top: -10px;
				}
			}
		}
	}
	.owl-nav > div.owl-next,
	> .btn-links.btn-next {
		&:before {
			right: 0;
			border-right: 2px solid #8f8f8f;
		}
		> span {
			padding-right: 20px;
			&:after {
				bottom: -11px;
				right: 58px;
				@media only screen and (max-width: 1199px) {
					bottom: -11px;
				}
				@media only screen and (max-width: 991px) {
					bottom: -10px;
				}
			}
			&:before {
				top: -13px;
				right: 58px;
				@media only screen and (max-width: 991px) {
					top: -10px;
				}
			}
		}
	}
	&.nav-right {
		text-align: right;
		@media only screen and (max-width: 991px) {
			text-align: left;
		}
	}
	&.nav-center {
		text-align: center;
	}
	@media only screen and (max-width: 767px) {
		.owl-nav {
			padding-top: 20px;
		}
	}
}

/*-------------------------------------------------
    [ ## Carousel Align Center ]
*/
.carousel-align-center {
	position: relative;
	.owl-nav > div {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50px);
		        transform: translateY(-50px);
		&.owl-prev {
			left: -90px;
			@media only screen and (max-width: 1620px) {
				left: -75px;
			}
			@media only screen and (max-width: 1366px) {
				left: -15px;
			}
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				left: -22px;
			}
		}
		&.owl-next {
			right: -90px;
			@media only screen and (max-width: 1620px) {
				right: -75px;
			}
			@media only screen and (max-width: 1366px) {
				right: -15px;
			}
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				right: -22px;
			}
		}
	}
}
/*-------------------------------------------------
    [ ## Carousel Circle ]
*/
.carousel-circle {
	position: relative;
	.owl-nav > div {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		border: 1px solid $color__border-one;
		color: $color__primary;
		border-radius: 50px;
		text-align: center;
		display: inline-block;
		margin: 3px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		&:hover {
			background-color: $black;
			border: 1px solid $black;
			color: $white;
		}
	}
}

.carousel-arrow {
	.owl-nav > div {
		font-size: 60px;
		color: $suva_grey;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		@media only screen and (max-width: 991px) {
			font-size: 30px;
		}
		&:hover {
			color: $color__primary;
		}
		&.owl-prev {
			left: -60px;
			@media only screen and (max-width: 1280px) {
				left: 0px;
			}
			@media only screen and (max-width: 1199px) {
				left: -30px;
			}
			@media only screen and (max-width: 991px) {
				left: -15px;
			}
		}
		&.owl-next {
			right: -60px;
			@media only screen and (max-width: 1280px) {
				right: 0px;
			}
			@media only screen and (max-width: 1199px) {
				right: -30px;
			}
			@media only screen and (max-width: 991px) {
				right: -15px;
			}
		}
	}
}

/*-------------------------------------------------
    [ ## Carousel Nav Dots ]
*/
.carousel-nav-dots {
	.owl-dots {
		margin-bottom: -5px;
		text-align: center;
		padding-top: 5px;
		> div {
			display: inline-block;
			margin: 0 4px;
			border-radius: 50%;
			> span {
				background-color: $black;
				border-radius: 50%;
				display: block;
				height: 12px;
				-webkit-transition: all 0.2s ease 0s;
				transition: all 0.2s ease 0s;
				width: 12px;
			}
			&.active > span {
				background-color: $color__primary !important;
				opacity: 1 !important;
			}
		}
	}
}
.carousel-nav-dots-rec {
	.owl-dots {
		margin-bottom: -5px;
		text-align: center;
		padding-top: 15px;
		> div {
			display: inline-block;
			margin: 0 4px;
			> span {
				background-color: #cccccc;
				display: block;
				height: 4px;
				-webkit-transition: all 0.2s ease 0s;
				transition: all 0.2s ease 0s;
				width: 40px;
				@media only screen and (max-width: 767px) {
					width: 20px;
				}
			}
			&.active > span {
				background-color: $color__primary !important;
				opacity: 1 !important;
			}
		}
	}
}

/*-------------------------------------------------
    [ ## Socail Status ]
*/
.social-status {
	margin: 0 -3px;
	a {
		border-radius: 50%;
		color: $color_text_main;
		display: inline-block;
		font-size: 14px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		width: 45px;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		margin: 0 3px;
		background-color: $snow;
		&:hover,
		&:focus {
			background-color: $color__primary;
			color: $white !important;
		}
	}
}

.modal {
	z-index: 999999;
}
.header-search-area {
	max-width: calc(100vw - 30px);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 98vh;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0 0 15px;
	padding: 20px;
	@media only screen and (max-width: 480px) {
		padding: 10px;
	}
	.modal-header {
		padding: 10px 0 60px;
		border-bottom: 0px solid;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		@media only screen and (max-width: 1199px) {
			padding: 0px 0 25px;
		}
		@media only screen and (max-width: 480px) {
			padding-bottom: 15px;
		}
		.close.btn-close {
			opacity: 1;
			cursor: pointer;
			position: relative;
			width: 45px;
			height: 45px;
			background-color: $color__primary;
			border-radius: 50%;
			padding: 0;
			margin: 0;
			&:before,
			&:after {
				position: absolute;
				height: 1px;
				left: 50%;
				top: 50%;
				width: 22px;
				background-color: $white;
				content: '';
				-webkit-transition: all 0.25s;
				transition: all 0.25s;
				margin-left: -11px;
				cursor: pointer;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				        transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				        transform: rotate(-45deg);
			}
			&:hover {
				background-color: $black;
			}
		}
	}
	.header-search-area-inner {
		width: 700px;
		@media only screen and (max-width: 767px) {
			width: 520px;
		}
		@media only screen and (max-width: 575px) {
			width: 400px;
		}
		@media only screen and (max-width: 480px) {
			width: 280px;
		}
	}
	.filter-search-tab .nav-tabs {
		border-bottom: 0 solid;
		overflow: hidden;
		margin-bottom: 50px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		@media only screen and (max-width: 1199px) {
			margin-bottom: 25px;
		}
		@media only screen and (max-width: 480px) {
			margin-bottom: 15px;
		}
		> li {
			display: inline-block;
			margin: 0 15px;
			@media only screen and (max-width: 575px) {
				margin: 0 8px 3px;
			}
			@media only screen and (max-width: 480px) {
				margin-left: 5px;
				margin-right: 5px;
			}
			> a {
				border-radius: 0px;
				display: block;
				font-size: 16px;
				font-weight: 500;
				padding: 15px 0px;
				text-transform: capitalize;
				-webkit-transition: all 0.25s ease 0s;
				transition: all 0.25s ease 0s;
				text-align: center;
				position: relative;
				@media only screen and (max-width: 1199px) {
					padding: 10px 0px;
				}
				@media only screen and (max-width: 575px) {
					padding: 6px 0px;
					font-size: 14px;
				}
				&:before {
					position: absolute;
					content: '';
					left: 0;
					width: 0;
					height: 2px;
					background-color: $color__primary;
					bottom: 0;
					-webkit-transition: all 0.25s;
					transition: all 0.25s;
				}
				&:hover {
					color: $black;
				}
				&.active {
					color: $black;
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	.filter-search-tab-content {
		border: 1px solid $color__border-one;
		background-color: $white;
	}
	form {
		padding: 20px;
		border-bottom: 1px solid $color__border-one;
		position: relative;
		@media only screen and (max-width: 480px) {
			padding: 15px;
		}
		input[type='search'] {
			border: 0px solid;
			font-weight: normal;
			font-size: 16px;
			width: 100%;
		}
		button {
			font-size: 24px;
			position: absolute;
			right: 15px;
			top: 50%;
			border: 0px solid;
			background-color: transparent;
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
			@media only screen and (max-width: 480px) {
				font-size: 18px;
				right: 7px;
			}
			&:hover {
				color: $red;
			}
		}
	}
}
.header-search-model {
	background-color: rgba($white, 0.9);
	.modal-content {
		border-radius: 0px;
		background-color: transparent;
		border: 0px solid;
	}
	.search-by-cat {
		.single-cat {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-transition: all 0.25s;
			transition: all 0.25s;
			border-bottom: 1px solid $color__border-one;
			padding: 20px;
			@media only screen and (max-width: 480px) {
				padding: 15px;
			}
			&:last-child {
				border-bottom: 0px solid;
			}
			&:hover {
				opacity: 0.85;
			}
			.thumb {
				width: 70px;
				@media only screen and (max-width: 480px) {
					width: 60px;
				}
			}
			.text {
				color: $black;
				font-weight: 500;
				padding-left: 20px;
				font-size: 14px;
				@media only screen and (max-width: 480px) {
					padding-left: 15px;
				}
			}
		}
	}
}

/*-------------------------------------------------
    [ ## Scroll Top ]
*/
.topbutton {
	color: $white;
	bottom: 30px;
	display: block;
	height: 50px;
	line-height: 50px;
	position: fixed;
	right: 30px;
	text-align: center;
	width: 50px;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 999;
	font-size: 20px;
	border-radius: 5px;
	background-color: $color__primary;

	&.btn-show {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	&.btn-hide {
		opacity: 0;
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}
	&:hover {
		color: $white !important;
		opacity: 0.9;
	}
	&:focus {
		color: $white !important;
	}
}
