.piglogo{
  min-height: 100px;
  max-height: 200px;
  width:auto;
}

#chefblock{
  background-color: #772F00;
}

  div.intro-socail-share div.socail-share a span.fab,
  .navigation .mainmenu > li > a {
    color: #fff !important;
  }

  div.hamburger-menus > span {
    background-color: #fff !important;
  }

  .header-style-one .site-branding img {
    max-height: 15px;
  }

  /* Footer social hover */
.bt-location-widget .widget-content .social-status a:hover {
  color: #C35194 !important;
  transition: 0.3s;
}

/* body .socail-share,
body {
  color: #fff !important;
} */

/* Navbar social hover */
.socail-share a span:hover {
  color: #C35194 !important;
  transition: 0.3s;
}